{% extends 'base.html' %}
{% block title %}
Repository Branches
{% endblock %}

{% block content %}
    <form method="GET">
        {% for branch in branches %}
            <ul>
                <li><h3>{{ branch.info.name }}
                    {% if branch.can_create_pr %}
                        <a href="/wrapper/create_pr/{{ branch.info.name }}">->  create pr</a>
                    {% endif %}
                    </h3>
                </li>
            </ul>
        {% endfor %}
    </form>
{% endblock %}